/* .content-container {
  display: flex;
  justify-content: center;
  margin: 210px 20px 60px 20px;
  } */
  
  .favorite-list {
    display: flex;
    flex-direction: column;
    max-width: 552px;
  }
  
  .div1,
  .div2,
  .div3, /* и так далее, добавьте сколько вам нужно div-ов */
  .divN {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .black-border {
  
    padding: 10px;
    margin-right: 10px;
  }
  
  .favorite-button-cart,
  .cart-button-cart {
    /* стили для ваших кнопок, например, размеры и цвета */
  }
  
  .img-product {
    max-width: 100px; /* настройте размер изображения по вашему усмотрению */
    margin-right: 10px;
  }
  .cart-cell-cross{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    left: 95%;
    top: 0;
}
  .cart-cell {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .gray {
    color: #888;
  }
  
  .cart-input {
    width: 50px;
  }
  
  .full-price {
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: bold;

  }

  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  .black-border{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
 .nameProduct{
  max-width: 20%;
 }
 .cartLine{
  display: flex;
  grid-template-rows: auto auto;
  padding: 5px;
  margin: 10px;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  /* max-height: 200px; */
  border-bottom: 1px solid #4D220E;
  font-size: 20px;
  width:552px;
 }
 .vmeste{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 30%;
  padding-right: 10%;
 }
 .tovar{
 /* width: 30%;
  text-align: center; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 30%;
  padding-right: 10%;
  justify-content: center;
 }
 .cena{
  width:55px;
  margin-right: 10px;
 }
 .sum{
  margin-right: 10px;
  width: 81px
 }
 
.kol-vo{
  width: 118px;
  margin-right: 10px;
}

 /* @media (max-width: 1050px) {
  .content-container {
    display: flex;
    justify-content: center;
    margin: 100px 20px 60px 20px;
    } 
 } */
@media (max-width: 420px) {

.cartLine{
  display:none;
}
.black-border{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.vmeste{
  display: flex;
  flex-wrap: nowrap;
  /* align-items: center; */
  max-width: 160px;
  margin-right: 50px;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
}

.cart-cell{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 30%;
  /* padding-right: 10%; */
  align-content: center;
  justify-content: flex-end;
  margin-left: 40px;
}
}