
@media screen and (max-width: 1050px) {
.mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* background: url('../wooden.jpg') no-repeat ; */
    background-size: cover;
    color: #4D220E;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000; /* Устанавливаем z-index для обеспечения корректного отображения поверх других элементов */
  }
  
  .menu {
    position: fixed;
    bottom: 100px;
    left: 0;
    background-color: white;
    color: #4D220E;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .icon-menu{
    margin-bottom: 4px;
  }

  .menu a {
    color: #4D220E;
    text-decoration: none;
    /* padding: 5px 0; */
    padding-top: 8px;

  }
  
  .profile-icon,
  .favorite-icon,
  .cart-icon,
  .menu-icon,
  .phone-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-icon{
    padding-right: 20px;
  }
  
  .icon{
    color: #4D220E;
  }

  .profile-icon p,
  .favorite-icon p,
  .cart-icon p,
  .menu-icon p,
  .phone-icon p{
    margin: 0; /* Убираем отступы у текста под иконками */
    font-size: 14px; /* Увеличиваем размер шрифта */
  }
  
  .nested-list{
    padding-left: 20px;
  }
}

  /* Медиа запрос для компьютерной версии */
@media screen and (min-width: 1050px) {
  .mobile{
    display: none;
  }
}