
@media screen and (max-width: 1050px) {
  /* body {
    margin: 0;
    padding: 0;
  } */
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-top: 1px solid #ddd; /* Это добавляет границу между контентом и футером */
  }
  
  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
  }
  
  .menu {
    position: fixed;
    bottom: 100px;
    top: 100px;
    right: 30px;
    background-color: white;
    color: #4D220E;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    z-index: 20000;
  }
  
  .icon-menu{
    margin-bottom: 4px;
  }

  .menu a {
    color: #4D220E;
    text-decoration: none;
    /* padding: 5px 0; */
    padding-top: 8px;

  }
  
  .profile-icon,
  .favorite-icon,
  .cart-icon,
  .menu-icon,
  .phone-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Убираем отступы у текста под иконками */
    font-size: 14px; 
  }
  
  .cart-icon{
    padding-right: 20px;
  }
  
  .icon{
    color: #4D220E;
  }

  /* .profile-icon p,
  .favorite-icon p,
  .cart-icon p,
  .menu-icon p,
  .phone-icon p{
    margin: 0; /* Убираем отступы у текста под иконками 
    font-size: 14px; /* Увеличиваем размер шрифта 
  } */
  
.faBars{
  color: #4D220E;
  font-size: 16px;
}
  .menu-button {
    border: none;
    background: none;
    font-size: 16px;
    margin-right: 20px;
  }
.menu-button-catalog{
  border: none;
  background: none;
}
  .nested-menu {
    display: none;
    position: relative;
  }
.menuCl{
  padding-left: 10px;
    font-size: 16px;
    color: #4D220E;
}
  .nested-menu a {
    padding: 12px 16px;
    display: block;
    color: #4D220E;
    text-decoration: none;
  }
  /* .catalog .nested-menu {
    display: none;
    position: absolute;
    top: 100%; /* появляется под кнопкой "Каталог" 
    left: 0;
    background-color: white;
    color: #4D220E;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    z-index: 1;
  } */
  
  .catalog:hover .nested-menu {
    display: block;
  }
}

  /* Медиа запрос для компьютерной версии */
@media screen and (min-width: 1050px) {
  .mobile{
    display: none;
  }
}